#
# Configure ObjectAdapters
#
AdptFCDCentralServer.Endpoints=tcp -p __FCDCentral_TCP_PORT__

#
# Configure BDB
#
Freeze.DbEnv.FCDCentralDBDefault.DbHome=FCDCentralDB
Freeze.DbEnv.FCDCentralDBDefault.DbRecoverFatal=1
FeatureDomainDBName=FeatureDomains
FeatureObserverDBName=FeatureObservers
ObserverStatsDBName=ObserverStats
ObserverIndexDBName=ObserverIndexes
RUVFacetDBName=RUVFacetInfos

# Config Feature value store files
# root dir for files (should be existed already, absolute path)
FeatureValueStore.RootDir=FeatureValueStore

#max file size=256M*4 bytes=1G
FeatureValueStore.MaxFileSize=1073741824
FeatureValueWorker.Size=__FeatureValueWorker.Size__

# Config Feature Value RAM
# Configure Max Allowed Value Cnt load in RAM for observer(0 - unlimited, 32768 - 32M, 16384 -16M, 16384 -16M, 8192-8M, 4096-4M)
FeatureValueRAM.MaxAllowedValueCntPerObserver = 8192

# Configure MessageSizeMax (278528 272M - 262144 - 256M, 131072-128M, 65536-64M, 32768 - 32M, 16384 -16M)
Ice.MessageSizeMax = 278528

#
# Warn about connection exceptions
#
Ice.Warn.Connections=1

#
# Network Tracing
#
# 0 = no network tracing
# 1 = trace connection establishment and closure
# 2 = like 1, but more detailed
# 3 = like 2, but also trace data transfer
#
#Ice.Trace.Network=1

#
# Protocol Tracing
#
# 0 = no protocol tracing
# 1 = trace protocol messages
#
#Ice.Trace.Protocol=1

Ice.ThreadPool.Server.Size=__Ice.ThreadPool.Server.Size__
Ice.Default.CollocationOptimized=0
Ice.Override.ConnectTimeout=30000
